<h1>Create a New Pet</h1>

<form method = "POST" action = "/pets">
Pet Name: <input type = "text" name = "pet[name]" id = "pet_name">
<br>
<br>
Select an Existing Owner:
  <br>
  <%@owners.each do |owner|%>
  <br>
  <input type = "radio" name = "pet[owner_id]" value = "<%=owner.id%>" id = "<%=owner.id%>"><%=owner.name%><br>
  <%end%>
<br>
New Owner:
<input type = "text" name = "owners[name]" id = "owner_name"><br>
<br>
  <input type = "submit" value = "Create Pet">
  <br>
</form>
